<div class="container">
    <jumbotron>
        <h1 id="logintitle" align="center">Register</h1>

        <div class="top-border-line" bg-success></div>

        <form method="post" action="/users/register">
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Username...">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password...">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword2">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" name="confirmPassword" placeholder="Confirm Password...">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Email...">
            </div>
            <div align="center">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
    </jumbotron>
</div>