<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="/login">
        Username <input type="text" name="username" placeholder="Full Name" /> <br /> <br />
        Password <input type="password" name="password" placeholder="Password" /> <br /> <br />
        <input type="submit" name="login" value="Login" />
    </form>  <br /> <br />

    <form method="get" action="/register">
        Don't have an account?
        <input type="submit" value="Register" />
    </form>
</body>
</html>