<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        Full Name <input type="text" name="username" placeholder="Full Name" /> <br /> <br />
        Password <input type="password" name="password" placeholder="Password" /> <br /> <br />
        Confirm Password <input type="password" name="confirmPassword" placeholder="Confirm Password" /> <br /> <br />
        <input type="submit" name="Register" value="Register" />
    </form>
</body>
</html>